.about {
  padding-top: 30px;
    text-align: center;
    
}


.about_cards {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  display: flex;
  justify-content: center;
  
}

.about-content {
  text-align: center;
  display: flex;
  justify-content: center;
}



  .about_card {
    background: var(--color-secondary);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 30px;
    text-align: center;
    transition: var(--transition);
    width: 300px;
    /* justify-content: space-around;
    align-items: flex-end; */
    

  }
  
  .about_card:hover {
    background: rgba(255, 255, 255, 0.4);
    border-color: var(--color-primary);
    cursor: default;
  }

  .about_card h5 {
    font-size: 1rem;
  }
  
  .about_card small {
    font-size: 0.9rem;
    color: var(--color-highlight);
  }

  /* @media screen and (max-width: 600px) {

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        display: flex;
        padding-left: 100px;
        
      }

  } */

  .sent {
    padding-top: 30px;
  }

  