.header {
  display: flex;
  align-items: center;
  /* text-align: center; */
}


.jet {
  height: 500px;
  width: 500px;
  /* display: flex; */
  padding: 50px;
}

.me {
  height: 500px;
  width: 500px;
  display: flex;
  padding: 50px;
  margin-left: auto;
}

.download {
  text-align: center;
}

.timothy {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: auto;
}