.exp {
    padding-top: 50px;
    text-align: center;
}

.exp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem
}

.exp-frontend {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

.exp-frontend:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.exp-backend {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
}

.exp-backend:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}